:root {
  --midnight-blue: #2c3e50;
  --clouds: #ecf0f1;
  --alizarin: #c0392b;
  --emerald: #2ecc71;

  --page-background: var(--midnight-blue);
  --stage-background: var(--clouds);
  --action: var(--emerald);
  --cancel: var(--alizarin);
}
