@import '../../shared/styles/colors.css';

.image-container {
  position: relative;
  margin: 0 auto;
  top: 50%;
  height:auto;
  max-width: 50%;
  background-color: var(--stage-background);
  transform: translateY(-50%);
}

.image {
  width: 100%;
  height: auto;
}
